
.DS_Store
/Data_Collection/face_detection
/Data_Collection/lrs2_preprocessed
/Wav2Lip_train/Wav2Lip
Data_Collection/archive.zip
*.pth
*.avi
*.mp4
wav2lip_core/output/results.txt
*.pyc
/musetalk/results
/musetalk/models/musetalk
/musetalk/models/dwpose
/musetalk/models/face-parse-bisent
/musetalk/models/sd-vae-ft-mse
/musetalk/models/whisper
