
.DS_Store
/Data_Collection/face_detection
/Data_Collection/lrs2_preprocessed
/Wav2Lip_train/Wav2Lip
Data_Collection/archive.zip
*.pth
wav2lip_core/output/results.txt
*.pyc
/musetalk/results
/musetalk/models/musetalk
/musetalk/models/dwpose
/musetalk/models/face-parse-bisent
/musetalk/models/sd-vae-ft-mse
/musetalk/models/whisper
gptsovits_core/text/G2PWModel_1.1.zip
gptsovits_core/text/G2PWModel/g2pW.onnx
GPT_SoVITS/text/G2PWModel/g2pW.onnx
*.ckpt
